<div class="cta uk-padding uk-card-secondary">
    <h2 class="h1 uk-text-center">{{ .Params.CTAHeadline }}</h2>
    <p class="uk-text-center">
      {{ .Params.CTASubline }}
    </p>
    <a class="btn btn-primary" href="/get-started/" uk-toggle="target: #modal-example"><span>Let's get started</span></a>
    <div id="modal-example" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title">Let's discuss {{ .Params.FormTitle }}</h2>
          <p>If you would like to discuss {{ .Params.FormTitle }} or any other topic with us, we are ready to help!</p>
          <p>Complete the form below and we will get back in touch with you within 24 hours.</p>
          <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
            <fieldset class="uk-fieldset">     
                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Name">
                </div>
                <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Email Address">
              </div>
        
        
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Message"></textarea>
                </div>
          
              
              <div>
                <label><input class="uk-checkbox" type="checkbox" required></label> <span class="uk-text-small">I agree to receiving email and marketing communications</span>
              </div>
            
              <button class="uk-margin-top uk-button uk-button-primary" type="submit">Submit</button>
            
             
            </fieldset>
        </form>
         
      </div>
  </div>

  </div>