
<footer class="site-footer">
    <div class="foot-item">
      <h3>@Pixaful</h3>
      <p>A web development company that cares about the success of your business.</p>
      <p><a href="/privacy/">Privacy</a>, <a href="/terms/">Terms</a> &amp; <a href="#">Cookies</a></p>

    </div>
    <div class="foot-item">
      <h3>How we work</h3>
      <p>We provide a consultation service to businesses that need help with their online presence. If you need help with your online business, use our <a href="#">form</a></p>
    </div>
    <div class="foot-item">
      <h3>Get Social</h3>
      <ul>
        <li><a target="_blank" href="https://facebook.com/pixaful">Facebook</a></li>
        <li><a target="_blank" href="https://instagram.com/pixaful">Instagram</a></li>
        <li><a target="_blank" href="https://twitter.com/pixaful">Twitter</a></li>
      </ul>
    </div>
    <div class="foot-item">
      <h3>Contact Me</h3>
      <ul>
      <li><a href="#">hello@pixaful.com</a></li>
      <li><a href="#">07803 501 235</a></li>
      </ul>
    </div>
  </footer>
  <a href="#" id="back-to-top" title="Back to top">&uarr;</a>