  <header class="site-header">
    <div class="logo"><a href="/"><img alt="website development services Buckinghamshire" src="/img/PIXAFUL-LOGO.png"></a></div>
    <div class="navigation">
        <nav class="main-nav" role="navigation">
            <!-- Mobile menu toggle button (hamburger/x icon) -->
            <input id="main-menu-state" type="checkbox" />
            <label class="main-menu-btn" for="main-menu-state">
              <span class="main-menu-btn-icon"></span> Toggle main menu visibility
            </label>
            <!-- Sample menu definition -->
 {{ partial "nav" .}}
          </nav>     
    </div>
  </header>