


<div class="uk-panel uk-padding uk-padding-remove-left uk-padding-remove-right uk-padding-remove-bottom">
        <picture>
                <source width="133" height="150" srcset="https://res.cloudinary.com/pixaful/image/upload/w_133/v1565554912/hayden-tomas-large_a3xgxr.webp" type="image/webp" />
                <source width="133" height="150" srcset="https://res.cloudinary.com/pixaful/image/upload/w_133/v1565554912/hayden-tomas-large_a3xgxr.png" type="image/png" />
                <img class="uk-align-left uk-margin-remove-adjacent" width="133" height="150" src="https://res.cloudinary.com/pixaful/image/upload/w_133/v1565554912/hayden-tomas-large_a3xgxr.png" alt="Hayden Tomas - Front-end website developer" />
           </picture>
           <p class="uk-text-small">Hayden Tomas is a freelance creative developer and helps UK businesses achieve more online.</p>
 </div>
 <hr>


<h3 class="uk-heading-line"></h3>
<h2 class="uk-heading-line uk-margin-bottom"><span>Tagged</span></h2>
<ul class="tags">
        <li><a href="/tags/website-development/" class="tag">Website Development</a></li>
        <li><a href="/tags/online-marketing/" class="tag">Online Marketing</a></li>
        <li><a href="/tags/website-security/" class="tag">Website Security</a></li>
       
</ul>
   
