


<div class="uk-panel uk-padding uk-padding-remove-left uk-padding-remove-right uk-padding-remove-bottom">
        <picture>
                <source width="133" height="150" srcset="https://res.cloudinary.com/pixaful/image/upload/w_133/v1565554912/hayden-tomas-large_a3xgxr.webp" type="image/webp" />
                <source width="133" height="150" srcset="https://res.cloudinary.com/pixaful/image/upload/w_133/v1565554912/hayden-tomas-large_a3xgxr.png" type="image/png" />
                <img class="uk-align-left uk-margin-remove-adjacent" width="133" height="150" src="https://res.cloudinary.com/pixaful/image/upload/w_133/v1565554912/hayden-tomas-large_a3xgxr.png" alt="Hayden Tomas - Front-end website developer" />
           </picture>
           <p class="uk-text-small">Hayden Tomas is a freelance creative developer and helps UK businesses achieve more online.</p>
 </div>
 <hr>
    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" style="background-color:#ffcd30">Website Development</button>
    <a href="/tags/development" style="background-color:#3de32c"><button style="background-color:#3de32c" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Online Marketing</button></a>
    <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Website Security</button>
   
