<h2>{{ .Params.PortfolioTitle }}</h2>




<ul class="uk-text-meta uk-list uk-list-striped">
  <li><a href="/privacy/#definitions">Definitions and interpretation</a></li>
  <li><a href="/privacy/#scope">Scope of this privacy policy</a></li>
  <li><a href="/privacy/#datacollected">Data collected</a></li>
  <li><a href="/privacy/#howwecollectdata">How we collect data</a></li>
  <li><a href="/privacy/#datafromyou">Data that is given to us by you</a></li>
  <li><a href="/privacy/#datareceived">Data that is received from third parties</a></li>
  <li><a href="/privacy/#datacollectedauto">Data that is collected automatically</a></li>
  <li><a href="/privacy/#ouruseofdata">Our use of data</a></li>
  <li><a href="/privacy/#keepingdatasecure">Keeping data secure</a></li>
  <li><a href="/privacy/#dataretention">Data retention</a></li>
  <li><a href="/privacy/#yourrights">Your rights</a></li>
  <li><a href="/privacy/#linkstootherwebsites">Links to other websites</a></li>
  <li><a href="/privacy/#changesofownership"> Changes of business ownership and control</a></li>
  <li><a href="/privacy/#cookies"> Cookies</a></li>
  <li><a href="/privacy/#general"> General</a></li>
 
</ul>