<h2>{{ .Params.PortfolioTitle }}</h2>




<ul class="uk-text-meta uk-list uk-list-striped">
  <li><a href="/terms/#introduction">Introduction</a></li>
  <li><a href="/terms/#intellectualproperty">Intellectual property and acceptable use</a></li>
  <li><a href="/terms/#prohibiteduse">Prohibited use</a></li>
  <li><a href="/terms/#sitelinks">Links to other websites</a></li>
  <li><a href="/terms/#privacycookies">Privacy Policy and Cookies Policy</a></li>
  <li><a href="/terms/#websiteavailability">Availability of the Website and disclaimers</a></li>
  <li><a href="/terms/#liabilitylimitation">Limitation of liability</a></li>
    <li><a href="/terms/#general">General</a></li>
  
 
</ul>