{{ define "main" }}
<div class="topheader site-header">
  <h1>Blog</h1>
</div>
<main class="site-content">
     {{.Content}}
     {{ $paginator := .Paginate (where .Site.RegularPages "Type" "blog") }}
     {{ range .Paginator.Pages }}
 
 

    
  

  
    <div class="singleproject">
      <div class="featured">
       
          <div class="singleblogs"><div class="singleintro">
                    <div class="uk-card uk-margin uk-card-body uk-card-default">                                     
                                             <img class="uk-align-left uk-margin-remove-adjacent" src="{{ $.Site.Params.cloudinary_base_url }}/w_251{{ .Params.featured_image }}" alt="{{.Title}}"/>
                                
                                   <div>
                                        <div class="tagged uk-card-badge uk-label" style="background-color:{{ .Params.tagColor }}">  {{ with .Params.Tags }}
      <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
      {{ end }}</div>
                                      
                                        <h2><a href="{{.Permalink }}">{{.Title}}</a></h2>
                                        <small>{{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>    
                                          
                                        <p>{{.Summary}}</p>
                                   </div>
                              
                         </div>
    {{ end }}
     {{ partial "pagination" .}}



 


          </div>
        </div>
      </div>
    </div>
    {{ partial "cta" . }}
 
</main>

{{ end }}