{{ define "main" }}


<main class="site-content">
<div align="center">
    <picture>
        <source width="1000" height="835" srcset="https://res.cloudinary.com/pixaful/image/upload/w_1000/v1571860708/404error.webp" type="image/webp" />
        <source width="1000" height="835" srcset="https://res.cloudinary.com/pixaful/image/upload/w_1000/v1571860708/404error.jpg" type="image/png" />
        <img width="1000" height="835" src="https://res.cloudinary.com/pixaful/image/upload/w_1000/v1571860708/404error.jpg" alt="Pixaful Error 404" />
   </picture>
</div>
   
  </main>
{{ end }}
