{{ define "main" }}
  <main class="site-content">
    <div class="intro">
      <div class="image">
        <picture>
          <source width="533" height="603" srcset="https://res.cloudinary.com/pixaful/image/upload/w_533/v1565554912/hayden-tomas-large_a3xgxr.webp" type="image/webp" />
          <source width="533" height="603" srcset="https://res.cloudinary.com/pixaful/image/upload/w_533/v1565554912/hayden-tomas-large_a3xgxr.png" type="image/png" />
          <img width="533" height="603" src="https://res.cloudinary.com/pixaful/image/upload/w_533/v1565554912/hayden-tomas-large_a3xgxr.png" alt="Hayden Tomas - Front-end website developer" />
     </picture>
      </div>
      <div class="text">
        <h1>Conversion-Focused</h1>
        <h2>Website Development</h2>
        <p class="lead">We provide a conversion-focused website development, design and consultation services for UK businesses, contractors and entrepreneurs that want to achieve more with their website.</p>
        <p>Not your average website development company. We help you achieve results from careful research, user-centric design, data-driven insights, and improved user experiences.</p>
     </div>
    </div>
    
    <div class="featuredsites">
      <div class="featured">
          <div class="image-box">
            <a href="/portfolio/full-wax/">
            <picture>
              <source width="609" height="609" srcset="https://res.cloudinary.com/pixaful/image/upload/w_609/v1566843048/full-wax-home_pa88wa.webp" type="image/webp" />
              <source width="609" height="609" srcset="https://res.cloudinary.com/pixaful/image/upload/w_609/v1566843048/full-wax-home_pa88wa.jpg" type="image/png" />
              <img width="609" height="609" src="https://res.cloudinary.com/pixaful/image/upload/w_609/v1566843048/full-wax-home_pa88wa.jpg" alt="Full Wax - Wordpress Development for local Aircraft Detailing company" />
         </picture></a>
          </div>
          <h2>Full Wax</h2>
          <p>I designed a fast loading, extremely secure and seo ready website for a local Aircraft Detailing company based in Farnborough Airport.</p>
            <a href="/portfolio/full-wax/">See more...</a></p>
  
      </div>
      <div class="featured">
          <div class="image-box">
              <a href="/portfolio/mango-fitness/">
                <picture>
                  <source width="609" height="609" srcset="https://res.cloudinary.com/pixaful/image/upload/w_609/v1566844390/mango-fitness-home_yynsje.webp" type="image/webp" />
                  <source width="609" height="609" srcset="https://res.cloudinary.com/pixaful/image/upload/w_609/v1566844390/mango-fitness-home_yynsje.jpg" type="image/png" />
                  <img width="609" height="609" src="https://res.cloudinary.com/pixaful/image/upload/w_609/v1566844390/mango-fitness-home_yynsje.jpg" alt="mango Fitness - Membership Website Development" />
             </picture></a>
          </div>
          <h2>Mango Fitness</h2>
          <p>Built on Wordpress and Elementor, I built a membership site for an existing client base. Designed to help clients keep track of their progress.</p><a href="/portfolio/mango-fitness/">See more...</a></p>
      </div>
    </div>
    <div class="testimonial">
      <div class="text">"Hayden is a highly creative individual and I would strongly recommend him to any company/individual who wants a web site
      which is up-to-the-minute and personalized. His ideas and concepts are a credit to him. He created a FANTASTIC new web
      site for my business. His after-care and customer service are second-to-none. Great to work with and extremely reliable."</div> 
      <div class="img"><img src="https://res.cloudinary.com/pixaful/image/upload/v1566595714/zoe_varzi.jpg" alt="Zoe Varzi - Full Wax"></div>
      <div class="info">
          <p>Zoe Varzi - Director</p>
          <a href="https://fullwax.com">The Full Wax ltd</a>
      </div>
    </div>
    <div class="articleinfo">   <h2 class="h1">Latest articles</h2>
    <p>My blog is full of helpful articles for developers, covering everything I use in my daily web development workflow.</p>
    <a class="btn btn-primary" href="/blog/">See all articles</a></div>
 
  <div class="newsitems">
    <div class="owl-carousel owl-theme">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "blog") }}
        {{ range .Paginator.Pages }}
      <div class="item">
        <div class="post">
          <div class="image-box"><a href="{{.Permalink}}">
              <picture>
                  <source width="351" height="234"
                       srcset="{{ $.Site.Params.cloudinary_base_url }}/w_351{{ .Params.webp_version }}" type="image/webp">
                  <source width="351" height="234"
                       srcset="{{ $.Site.Params.cloudinary_base_url }}/w_351{{ .Params.featured_image }}"
                       type="image/jpeg">
                  <img width="351" height="234"
                       src="{{ $.Site.Params.cloudinary_base_url }}/w_351{{ .Params.featured_image }}" alt="{{.Title}}" />
             </picture>
          </a></div>
       <span class="tagged">                           <div class="uk-card-badge uk-label" style="background-color:{{ .Params.tagColor }}">  {{ with .Params.Tags }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
        {{ end }}</div></span>
        <h4><a href="{{.Permalink}}">{{.Title}}</a></h4>
        {{.Summary}}
      </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ partial "cta" . }}
  </main>
{{ end }}
